/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-accent-color: #000028;
  --font-family: 'IBM Plex Mono', monospace;
  --font-size-base: 18px;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --line-height-base: 23.4px;
}

.theme-dark .page {
  background-image: url('../images/cover-image-dark.png');
}
