
a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  transition: all 0.3s ease;
}

a:hover {
  border-bottom: 1px solid var(--text-color);
  text-shadow: none;
}

a:focus {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  font-family: 'IBM Plex mono', monospace;
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border: 1px solid transparent;
  border-bottom: 2px solid var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}


.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: 'IBM Plex mono', monospace;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 6px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  white-space: pre-line;
  max-width: 100%; 
  line-height: 0.85;
  margin-left: -18px;
  padding: 0;
}

.header__theme-menu {
  display: grid;
  justify-content: flex-end;
  
  
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  margin-top: 55px;
  margin-right: 4px;
}

.header__logo {
  margin-top: 65px;
}

.header__desc {
  color: var(--text-accent-color);
  line-height: 23px;
  letter-spacing: 1px;
  margin-left: -2px;
  font-family: 'IBM Plex mono', monospace;
  font-weight: bold;
  word-spacing: -1px;
}

.header__content {
  max-width: 355px;
  word-spacing: 5px;
  line-height: 24px;
  margin-left: -17px;
  margin-top: 51px;
  font-family: 'IBM Plex mono', monospace;
  font-weight: bold;
  font-size: 18px;
}

.title-decor {
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone_rec {
  position: absolute;
  top: 10px;
  right: 37px;
  color: #FF0070;
  font-size: 18px;
  line-height: 25px;
}


.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
  
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

/* main */

@import url('./variables.css');

.main {
  background-color: var(--bg-color);
  margin-top: -1px;
  padding-top: 1px;
  position: relative;
  z-index: 1;
}

.sect1 {
  margin-top: 40px;
}

.sect2  {
  margin-top: 50px;
}

.sect3 {
  margin-top: 48px;
}

.title__desc,
.title__section {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
}

.title__section {
  color: var(--accent-color);
  font-family: 'IBM Plex mono', monospace;
  line-height: 24px;
  letter-spacing: 1px;
}

:root.theme-light .title__section {
  color: var(--text-accent-color);
}

.title__desc {
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  margin-top: 18px;
  font-family: 'IBM Plex mono', monospace;
  line-height: 24px;
  letter-spacing: 1px;
}

.desc__section {
  color: var(--text-color);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  font-family: 'IBM Plex mono', monospace;
  letter-spacing: 1px;
  margin-top: 11px;
}

/* Галерея */

.gallery-section {
  margin-top: 50px;
}

.gallery__images {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* footer */



.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: 'IBM Plex mono', monospace;
  font-weight: bold;
  letter-spacing: 6px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  max-width: 100%; 
  line-height: 0.83;
  padding: 0;
  margin-top: 327px;
  margin-left: 5px;
}

.footer.decorated-zone::before {
  top: -276px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  
}

.footer.decorated-zone::after {
  top: 346px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}



@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0;
    
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0.9;
    padding: 0;
    margin-top: 172px;
  }

  .header__theme-menu-list {
    margin-top: 172px;
    margin-left: -11px;
  }

  .header__content {
    margin-top: 155px;
    margin-left: 367px;
  }


  .sect1 .title__sect {
    width: 150px;
  }

  .sect2 .title__sect {
    width: 150px;
  }

  .sect3 .title__sect {
    width: 252px;
    margin-top: 60px;
  }

  .title__section {
    margin-left: 20px;
    padding-top: 19px;
  }

  .sect1 .desc__sect {
    width: 473px;
    margin-left: 275px;
    margin-top: -89px;
  }

  
  .sect2 .title__section {
    margin-top: 59px;
  }

  .sect2 .desc__sect {
    width: 771px;
    padding: 0 20px;
  }
  
  .sect3 .desc__sect {
    width: 473px;
    margin-left: 275px;
    margin-top: -113px
  }

   /*Галерея*/

  .gallery__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-top: 20px;
  
  }  

  /* Первая картинка */
  .gallery__image:first-child {
    grid-column: span 2;
    height: 192px;
  }

  /* Вторая картинка */
  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 442px;
  }

  /* Третья картинка */
  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
    height: 567px;
  }
  
  /* Четвертая картинка */
  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  
  /* Пятая картинка */
  .gallery__image:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
    height: 317px;
  }

  .gallery-section .container {
    justify-content: center;
    display: grid;
    width: 728px;
    margin-top: 61px;
  }

  /* Футер */
  .footer__title {
    margin-top: 528px;
    margin-left: 207px;
  }

  /* Уголки + rec */
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone_rec {
    margin-top: 10px;
    margin-right: 10px;
  }

  .footer.decorated-zone::before {
    top: -447px;
    right: 20px
  }

  .footer.decorated-zone::after {
    top: 512px;
    left: 20px;
  }
}



@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0;
    
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 1;
    margin-top: 291px;
  }

  .header__content {
    margin-left: 495px;
    margin-top: 96px;
  }

  .header__theme-menu {
    position: absolute;
    top: 20px;
    left: 402px;
  }

  .header__theme-menu-list {
    gap: 27px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }

  .header__desc {
    width: 491px;
  }

  .sect1 .desc__sect {
    margin-top: -66px;
    margin-left: 354px;
    width: 654px;
  }

  .sect1 .title__sect {
    width: 260px;
  }

  .sect2 .title__sect {
    width: 282px;
  }

  .sect3 .title__sect {
    width: 332px;
    margin-top: -13px;
  }

  .sect2 .desc__sect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  gap: 20px;
  row-gap: 0px;
  width: 1024px;
  margin-top: 2px;
}

  .sect2 .desc__sect > *:nth-child(6n+1),
  .sect2 .desc__sect > *:nth-child(6n+2) {
    grid-column: 1;
  }

  .sect2 .desc__sect > *:nth-child(6n+3),
  .sect2 .desc__sect > *:nth-child(6n+4) {
    grid-column: 2;
  }

  .sect2 .desc__sect > *:nth-child(6n+5),
  .sect2 .desc__sect > *:nth-child(6n+6) {
    grid-column: 3;
  }

  .sect2 .desc__sect > *:nth-child(odd) {
    grid-row: 1;
  }

  .sect2 .desc__sect > *:nth-child(even) {
    grid-row: 2;
  }

  .sect3 .desc__sect {
    margin-top: -88px;
    margin-left: 354px;
    width: 654px;
  }

  .gallery-section {
    
  }

  .gallery-section .container {
    width: 983px;
    margin-top: 63px;
  }

  /* Первая картинка */
  .gallery__image:first-child {
    
    height: 260px;
  }

  /* Вторая картинка */
  .gallery__image:nth-child(2) {
    
    height: 595px;
  }

  /* Третья картинка */
  .gallery__image:nth-child(3) {
    
    height: 766px;
  }
  
  /* Пятая картинка */
  .gallery__image:nth-child(5) {
    
    height: 431px;
  }

  .footer__title {
    font-size: 157px;
    margin-left: 283px;
    margin-top: 384px;
  }

  .footer.decorated-zone::before {
    top: -303px;
    right: 20px;
  }

  .footer.decorated-zone::after {
    top: 400px;
    left: 20px;
  }
}




